body.hide
    // Loading Page
    include ../components/loading
    // Button To Top
    include ../components/buttonToTop
    // Header
    include ../components/header
    // About Section
    include ../components/about
    // Experience Section
    include ../components/experience
    // My-Team Section
    include ../components/myTeam
    // Our Feature Section
    include ../components/our-features
    // Our services Section
    include ../components/our-services
    // Counting Section
    include ../components/counting
    // Our Works Section
    include ../components/our-work
    // Testimonial Section
    include ../components/testmonial
    // Prices Section
    include ../components/prices
    // Blog Section
    include ../components/blog
    // Clients Section
    include ../components/clients
    // Contact Section
    include ../components/contact
    // Footer
    include ../components/footer
    include Scripts