body
    // Header
    include ../components/header
    // About Section
    include ../components/about
    // Experience Section
    include ../components/experience
    // My-Team Section
    include ../components/myTeam
    include ../components/our-features
    include ../components/our-services
    include ../components/counting
    include ../components/our-work
    include Scripts