head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Abdo - Creative Personal Portfolio template
    link(rel="stylesheet", href="node_modules/@fortawesome/fontawesome-free/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900")
    link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
    link(rel="stylesheet", href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css")
    link(rel="stylesheet", href="css/main.css")