script(src="node_modules/jquery/dist/jquery.min.js")
script(src="node_modules/typed.js/lib/typed.min.js")
script(src="/node_modules/owl.carousel/dist/owl.carousel.min.js")
script(src="/node_modules/mixitup/dist/mixitup.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js")
script(src="app/app.js")