header.header
    -var listItems = ['home', 'About', 'services', 'work', 'blog', 'contact'];
    -var icons = ['facebook-f', 'twitter', 'behance', 'instagram']
        nav.header__nav.nav
            h4.nav__logo Abdo
            button.nav__btn
                -for(let k = 0;k < 3;k++)
                    span.menu
            ul.nav__list.vertical__menu.hide
                -for(let i = 0;i < listItems.length;i++)
                    li.nav__item
                        if i === 0
                            a(href="#" class="nav__link active")= listItems[i]
                        else
                            a(href="#" class="nav__link")= listItems[i]
        .header__home
            span.small welcome there!
            h1.header__title I'M
                span#creative
            h2.header__subtitle web developer - front end developer - web designer
            ul.header__social-links
                -for(let j = 0;j < icons.length;j++)
                    li.list
                        a(href="#" class="social-link")
                            i(class=`fab fa-${icons[j]}`)
            a(href="#about").btn.btn--scroll
                i(class="fas fa-angle-down")