.btn
    &--scroll
        margin-top 15rem
        font-size 5rem
        color $white
        animation up-down 2s linear infinite
        @keyframes up-down
            0%
                transform translateY(0)
                opacity 1
            100%
                transform  translateY(4rem)
                opacity 0.5
    &--play
        width 10rem
        height 10rem
        background-color $light-blue
        border-radius 50%
        flex(center, center)
        font-size 3rem
        color $white
        animation pulse 1s linear infinite
        @keyframes pulse 
            from
            to
                transform scale3d(1, 1, 1)
            50%
                transform scale3d(1.05, 1.05, 1.05)
    &--cta
        padding 1rem 2rem
        font-size 2rem
        background-color transparent
        border 1px solid $light-blue
        border-radius 10rem
        color $light-blue
        position relative
        z-index 1
        &::after
        &::after
            after-before()
            top 0
            left 0
            bottom 0
            right 0
            width 100%
            height 100%
            border-radius 10rem
            background-color transparent
            
        &::before
            z-index -1
        &::after
            transform scaleX(0)
            transform-origin center
            transition-property background-color, transform
            transition-duration 300ms
            transition-timing-function ease-in-out
            z-index -2
        &:hover
            color $white
            &::after
                background-color $light-blue
                transform scaleX(1)
        &.active
            color $white
            margin-right 0
            margin-bottom 2rem
            @media(min-width 37.5em)
                margin-right 2rem
            &::after
                background-color $light-blue
                transform scaleX(1)
            &:hover
                color $light-blue
                &::after
                    transform scaleX(0)