@import 'base/varibales'
@import 'base/mixins'
@import 'base/general'
@import 'buttons'
@import 'titles'

.counting
    background-image linear-gradient(to right bottom, rgba(#000, .8), rgba(#000, .9)),url('../images/counting.jpg')
    background-size cover
    background-position center center
    background-attachment fixed
    padding 6rem 2rem
    display grid
    grid-template-columns 1fr
    grid-template-rows repeat(4, 1fr)
    grid-gap 6rem
    color $white
    @media(min-width 37.5em)
        grid-template-rows repeat(2, 1fr)
        grid-template-columns repeat(2, 1fr)
    @media(min-width 50em)
        grid-template-rows 1fr
        grid-template-columns repeat(4, 1fr)
    &__content
        flex(flex-start, center)
        flex-direction column
        &:hover
            .icon
                background-color $light-blue
                transform translateY(-6px)
                border-color $light-blue
        .icon
            width 6rem
            height 6rem
            border 1px solid $grey
            border-radius 50%
            flex(center, center)
            font-size 2rem
            margin-bottom 2rem
            transform-origin bottom center
            transition-property transform,background-color, border-color
            transition-duration 300ms
    &__desc
        flex(flex-start, center)
        flex-direction column
        .num
            font-size 2.5rem
            font-weight 700
        .name
            font-size 2rem
            font-weight 400