@import 'base/varibales'
@import 'base/mixins'
@import 'base/general'
@import 'buttons'
.header
    height 100vh
    text-align center
    background-image linear-gradient(to right, rgba($black, .7), rgba(#000, 1)),url(../images/header-img.jpg)
    background-size cover
    background-position right top
    background-attachment fixed

    &__nav
        flex(space-between, center)
        height 8rem
        margin 0 auto
        position relative
        padding 2rem 6rem
        &.fixed
            position fixed
            top 0
            left 0
            right 0
            bottom 0
            background-color $white
            box-shadow 0 1px 1rem 0 rgba($black, .15)
            z-index 1000
            font-size 2rem
            .nav__logo
                color $black
            .nav__link
                color $black
            .nav__btn
                span 
                    background-color $black
    .nav
        &__logo
            font-size 4rem
            font-weight 800
            color $white
        &__btn
            background-color initial
            height 4rem
            width 6rem
            flex(space-around, center)
            flex-direction column
            border none
            @media(min-width 50em)
                display none
            &.show
                .menu:first-child
                .menu:last-child
                    transform-origin center center
                .menu:first-child
                    transform rotate(45deg) translateY(12px) translateX(8px)
                .menu:nth-child(2)
                    opacity 0
                .menu:last-child
                    transform rotate(-45deg) translateY(-6px) translateX(1px)
            &:hover
                cursor pointer
            &:focus
                outline none
            .menu
                width 5rem
                height 1px
                background-color $white
                transition-property transform, opacity
                transition-duration 300ms
                transition-delay 150ms

        &__list
            background-color $white
            color $black
            position absolute
            top 100%
            right 4rem
            width 90%
            z-index 1000
            transition-property transform, opacity
            transition-duration 300ms
            transition-delay 150ms
            transform-origin top left
            @media(min-width 50em)
               flex(center, center)
               opacity 1
               transform scaleY(1)
               background-color transparent
               color $white
            &.hide
                opacity 0
                transform scaleY(0)
                @media(min-width 50em)
                    opacity 1
                    transform scaleY(1)
                    position relative
                    top 0
                    width 70%
        &__item
            color $light-blue
            text-align center
            flex(center, center)
            @media(min-width 50em)
                margin-right 2rem
            
        &__link
            padding 2rem 0
            display inline-block
            font-size 2.5rem
            color currentColor
            text-transform uppercase
            &.active
                color $light-blue
            @media(min-width 50rem)
                font-size 1.5rem
                color $white
                &:hover
                    color $light-blue
    &__home
        padding-top 10rem
        flex(center, center)
        flex-direction column
        color $white
        .small
            font-size 1.8rem
            font-weight 300
            margin-bottom 2rem
            text-align center
    &__title
        text-align left
        font-size 5rem
        margin-bottom 2rem
        font-weight 400
        @media(max-width 23.4375em)
            font-size 3rem
        #creative
            color $light-blue
            margin-left 2rem
            text-transform capitalize
    &__subtitle
        font-size 2.2rem
        margin-bottom 2rem
        font-weight 300
    &__social-links
        flex(center, center)
        margin-bottom 3rem
        .list
            &:not(:last-child)
                margin-right 2rem
        .social-link
            font-size 2rem
            color $white
            &:hover
                color $light-blue